# **Online Retail transactions Dataset Project**

## Objectives

* For this project we gathered the raw data from Kaggle (https://www.kaggle.com/datasets/abhishekrp1517/online-retail-transactions-dataset/data). The objective of this notebook is to extract the raw data, transform it by cleaning and structuring it, and finally load the cleaned data into a new file for further analysis and visualisation.
-Key goals include:
-1. Data Cleaning: Handle missing values, remove duplicates, and correct inconsistencies.
-2. Data Transformation: Convert data types, create new features, and structure the data for analysis.
-3. Data Loading: Save the cleaned and transformed data into a new file format for ease of use and also to reduce file size.

## Inputs

* The raw dataset file "Online Retail.csv" located in the "DataSet/Raw" directory. We also used Python libraries such as pandas and numpy for data manipulation and analysis.

## Outputs

* The final cleaned and transformed dataset saved as "fact_sales_clean.zip" in the "DataSet/Cleaned" directory. This file is in CSV format and compressed to reduce file size.

## Additional Comments

* The cleaned dataset is now ready for further analysis and visualization tasks. The transformations applied ensure that the data is consistent, accurate, and structured in a way that facilitates insightful analysis. We found a few duplicates and missing values which is displayed and noted in the cleaning process. We also created a new feature "TotalPrice" to enhance our analysis capabilities for future use. In addition to this we also changed the names of some countries to help users better understand the data (EIRE to Ireland), and grouped sales by categories to aid in future analysis.

---

# Change working directory

* We are assuming you will store the notebooks in a subfolder, therefore when running the notebook in the editor, you will need to change the working directory

We need to change the working directory from its current folder to its parent folder
* We access the current directory with os.getcwd()

In [259]:
import os
current_dir = os.getcwd()
current_dir

'c:\\'

We want to make the parent of the current directory the new current directory
* os.path.dirname() gets the parent directory
* os.chir() defines the new current directory

In [260]:
os.chdir(os.path.dirname(current_dir))
print("You set a new current directory")

You set a new current directory

Confirm the new current directory

In [261]:
current_dir = os.getcwd()
current_dir

'c:\\'

# Section 1

Section 1 content

In [262]:
# Import Libraries
import pandas as pd
import numpy as np
from pathlib import Path

---

# Section 2

Section 2 content

In [263]:
# Load raw data
# Encoding 'ISO-8859-1' is used to handle special characters in the dataset
df = pd.read_csv(r"C:\Users\Nine\OneDrive\Documents\VS Code Projects\online-retail-transactions-analysis\DataSet\Raw\Online Retail.csv", encoding='ISO-8859-1')
df.head()

print(df.head())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

           InvoiceDate  UnitPrice  CustomerID         Country
0  2010-12-01 08:26:00       2.55       17850  United Kingdom
1  2010-12-01 08:26:00       3.39       17850  United Kingdom
2  2010-12-01 08:26:00       2.75       17850  United Kingdom
3  2010-12-01 08:26:00       3.39       17850  United Kingdom
4  2010-12-01 08:26:00       3.39       17850  United Kingdom

In [264]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   541909 non-null  int64
 7   Country      541909 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 33.1+ MB

In [265]:
# Count null values per column
print("Missing values per column:\n", df.isnull().sum())

Missing values per column:
 InvoiceNo         0
StockCode         0
Description    1454
Quantity          0
InvoiceDate       0
UnitPrice         0
CustomerID        0
Country           0
dtype: int64

In [266]:
# Drop rows where Description is missing
df = df.dropna(subset=["Description"])

print("Shape after dropping missing Descriptions:", df.shape)
print("Remaining null values:\n", df.isnull().sum())

Shape after dropping missing Descriptions: (540455, 8)
Remaining null values:
 InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [267]:
# Check duplicates
print("Duplicate rows:", df.duplicated().sum())

Duplicate rows: 5268

In [268]:
#here we will check where the duplicates are
df[df.duplicated(keep=False)]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
485,536409,22111,SCOTTIE DOG HOT WATER BOTTLE,1,2010-12-01 11:45:00,4.95,17908,United Kingdom
489,536409,22866,HAND WARMER SCOTTY DOG DESIGN,1,2010-12-01 11:45:00,2.10,17908,United Kingdom
494,536409,21866,UNION JACK FLAG LUGGAGE TAG,1,2010-12-01 11:45:00,1.25,17908,United Kingdom
517,536409,21866,UNION JACK FLAG LUGGAGE TAG,1,2010-12-01 11:45:00,1.25,17908,United Kingdom
521,536409,22900,SET 2 TEA TOWELS I LOVE LONDON,1,2010-12-01 11:45:00,2.95,17908,United Kingdom
...,...,...,...,...,...,...,...,...
541675,581538,22068,BLACK PIRATE TREASURE CHEST,1,2011-12-09 11:34:00,0.39,14446,United Kingdom
541689,581538,23318,BOX OF 6 MINI VINTAGE CRACKERS,1,2011-12-09 11:34:00,2.49,14446,United Kingdom
541692,581538,22992,REVOLVER WOODEN RULER,1,2011-12-09 11:34:00,1.95,14446,United Kingdom
541699,581538,22694,WICKER STAR,1,2011-12-09 11:34:00,2.10,14446,United Kingdom
541701,581538,23343,JUMBO BAG VINTAGE CHRISTMAS,1,2011-12-09 11:34:00,2.08,14446,United Kingdom

In [269]:
# Drop duplicate rows

df = df.drop_duplicates()

print("Shape after removing duplicates:", df.shape)
print("Remaining duplicate rows:", df.duplicated().sum())

Shape after removing duplicates: (535187, 8)
Remaining duplicate rows: 0

In [270]:
print(df.head())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

           InvoiceDate  UnitPrice  CustomerID         Country
0  2010-12-01 08:26:00       2.55       17850  United Kingdom
1  2010-12-01 08:26:00       3.39       17850  United Kingdom
2  2010-12-01 08:26:00       2.75       17850  United Kingdom
3  2010-12-01 08:26:00       3.39       17850  United Kingdom
4  2010-12-01 08:26:00       3.39       17850  United Kingdom

In [271]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 535187 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    535187 non-null  object
 1   StockCode    535187 non-null  object
 2   Description  535187 non-null  object
 3   Quantity     535187 non-null  int64
 4   InvoiceDate  535187 non-null  object
 5   UnitPrice    535187 non-null  float64
 6   CustomerID   535187 non-null  int64
 7   Country      535187 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 36.7+ MB

In [272]:
#Normalize column names
df.columns = [c.strip() for c in df.columns]
for col in ["InvoiceNo","StockCode","Description","Country"]:
    if col in df.columns:
        df[col] = df[col].astype(str).str.strip()

In [273]:
print("Null InvoiceDate:", df['InvoiceDate'].isna().sum())
print("Blank StockCode:", (df['StockCode'].astype(str).str.strip()=="").sum())
print("Blank InvoiceNo:", (df['InvoiceNo'].astype(str).str.strip()=="").sum())

# Show sample of bad rows (if any)
display(df[df['InvoiceDate'].isna()].head())

Null InvoiceDate: 0
Blank StockCode: 0
Blank InvoiceNo: 0

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country]
Index: []

In [274]:
#Rechecking the dataframe info
print("Current shape:", df.shape)

Current shape: (535187, 8)

In [275]:
print(df.dtypes)

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID       int64
Country         object
dtype: object

In [276]:
#Changing InvoiceDate to datetime format to avoid any future issues
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'], errors='coerce')

In [277]:
print(df.dtypes)

InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID              int64
Country                object
dtype: object

In [278]:
#Looking for any unique values in invoice, stockcode, customerid and country
print("Unique invoices:", df['InvoiceNo'].nunique())
print("Unique products:", df['StockCode'].nunique())
print("Unique customers:", df['CustomerID'].nunique())
print("Unique countries:", df['Country'].nunique())

Unique invoices: 24446
Unique products: 3958
Unique customers: 4372
Unique countries: 38

In [279]:
# Identify and count cancelled invoices
# We will keep these values in the dataset to analyse customer returns in DataVisualisation

cancelled = df[df['InvoiceNo'].str.startswith('C')]
print("Cancelled invoices:", cancelled.shape[0])

Cancelled invoices: 9251

In [280]:
# After speaking with my team we have decided an additioannal field for Total Sales should be added, this will consist of Quantity and Unit Price

# Create a new field TotalSales = Quantity * UnitPrice
df['TotalSales'] = df['Quantity'] * df['UnitPrice']


# Quick check
print(df[['Quantity','UnitPrice','TotalSales']].head())

   Quantity  UnitPrice  TotalSales
0         6       2.55       15.30
1         6       3.39       20.34
2         8       2.75       22.00
3         6       3.39       20.34
4         6       3.39       20.34

In [281]:
print(df['TotalSales'].describe())

count    535187.000000
mean         18.173100
std         381.171824
min     -168469.600000
25%           3.750000
50%           9.900000
75%          17.400000
max      168469.600000
Name: TotalSales, dtype: float64

In [282]:
# Above we can see that there are some negative values in TotalSales, these are due to cancelled orders and returns. We will keep these values for analysis in DataVisualisation.

In [283]:
# List all countries
print("Unique countries before:")
print(df["Country"].unique())

# Replace EIRE to Ireland
df["Country"] = df["Country"].replace("EIRE", "Ireland")

# Repleace RSA to South Africa
df["Country"] = df["Country"].replace("RSA", "South Africa")

# Quick check
print("\nUnique countries after:")
print(df["Country"].unique())

Unique countries before:
['United Kingdom' 'France' 'Australia' 'Netherlands' 'Germany' 'Norway'
 'EIRE' 'Switzerland' 'Spain' 'Poland' 'Portugal' 'Italy' 'Belgium'
 'Lithuania' 'Japan' 'Iceland' 'Channel Islands' 'Denmark' 'Cyprus'
 'Sweden' 'Austria' 'Israel' 'Finland' 'Bahrain' 'Greece' 'Hong Kong'
 'Singapore' 'Lebanon' 'United Arab Emirates' 'Saudi Arabia'
 'Czech Republic' 'Canada' 'Unspecified' 'Brazil' 'USA'
 'European Community' 'Malta' 'RSA']

Unique countries after:
['United Kingdom' 'France' 'Australia' 'Netherlands' 'Germany' 'Norway'
 'Ireland' 'Switzerland' 'Spain' 'Poland' 'Portugal' 'Italy' 'Belgium'
 'Lithuania' 'Japan' 'Iceland' 'Channel Islands' 'Denmark' 'Cyprus'
 'Sweden' 'Austria' 'Israel' 'Finland' 'Bahrain' 'Greece' 'Hong Kong'
 'Singapore' 'Lebanon' 'United Arab Emirates' 'Saudi Arabia'
 'Czech Republic' 'Canada' 'Unspecified' 'Brazil' 'USA'
 'European Community' 'Malta' 'South Africa']

In [284]:
# Here i have used AI to identify questionable country names and their data
# The data will be removed from the dataset as they only represent a small fraction of the data (under 0.9% combined)

odd = ["European Community", "Unspecified"]
print("Rows & share for questionable countries:\n")
for c in odd:
    mask = df["Country"].eq(c)
    n = mask.sum()
    pct = n / len(df) * 100
    print(f"{c:<18} | rows={n:>6,} | {pct:5.2f}%")

Rows & share for questionable countries:

European Community | rows=    61 |  0.01%
Unspecified        | rows=   442 |  0.08%

In [285]:
df = df[~df["Country"].isin(odd)]
print("\nShape after removing questionable countries:", df.shape)

Shape after removing questionable countries: (534684, 9)

In [286]:
print("\nUnique countries after:")
print(df["Country"].unique())

Unique countries after:
['United Kingdom' 'France' 'Australia' 'Netherlands' 'Germany' 'Norway'
 'Ireland' 'Switzerland' 'Spain' 'Poland' 'Portugal' 'Italy' 'Belgium'
 'Lithuania' 'Japan' 'Iceland' 'Channel Islands' 'Denmark' 'Cyprus'
 'Sweden' 'Austria' 'Israel' 'Finland' 'Bahrain' 'Greece' 'Hong Kong'
 'Singapore' 'Lebanon' 'United Arab Emirates' 'Saudi Arabia'
 'Czech Republic' 'Canada' 'Brazil' 'USA' 'Malta' 'South Africa']

In [287]:
# We will now start the grouping section of the ETL process.

In [288]:
#This group will report total sales by month, to see which months were the most profitable
sales_by_month = df.groupby(df['InvoiceDate'].dt.to_period('M'))['TotalSales'].sum()

print(sales_by_month)

InvoiceDate
2010-12     746723.610
2011-01     558448.560
2011-02     497026.410
2011-03     682013.980
2011-04     491877.341
2011-05     721038.230
2011-06     689367.900
2011-07     678061.081
2011-08     680855.430
2011-09    1017312.382
2011-10    1069368.230
2011-11    1455180.050
2011-12     432701.060
Freq: M, Name: TotalSales, dtype: float64

In [289]:
# This group will display the top 10 highest selling products by total sales amount.
# We can change the amount by changing .head(10)) to a larger number to see more products

top_products = df.groupby('Description')['TotalSales'].sum().sort_values(ascending=False).head(10)
print(top_products)

Description
DOTCOM POSTAGE                        206245.48
REGENCY CAKESTAND 3 TIER              164433.99
WHITE HANGING HEART T-LIGHT HOLDER     99612.42
PARTY BUNTING                          98243.88
JUMBO BAG RED RETROSPOT                92175.79
RABBIT NIGHT LIGHT                     66634.59
POSTAGE                                66089.64
PAPER CHAIN KIT 50'S CHRISTMAS         63715.24
ASSORTED COLOUR BIRD ORNAMENT          58755.24
CHILLI LIGHTS                          53746.66
Name: TotalSales, dtype: float64

In [290]:
#This group will display the top 10 customers by sales value
#We can change the amount by changing .head(10)) to a larger number to see more customers

customer_sales = df.groupby('CustomerID')['TotalSales'].sum().sort_values(ascending=False)
print(customer_sales.head(10))

CustomerID
15287    1445892.60
14646     279489.02
18102     256438.49
17450     187322.17
14911     132458.73
12415     123725.45
14156     113214.59
17511      88125.38
16684      65892.08
13694      62690.54
Name: TotalSales, dtype: float64

In [291]:
#Total sales by country

country_sales = df.groupby('Country')['TotalSales'].sum().sort_values(ascending=False)
print(country_sales.head(10))

Country
United Kingdom    8167128.184
Netherlands        284661.540
Ireland            262993.380
Germany            221509.470
France             197317.110
Australia          137009.770
Switzerland         56363.050
Spain               54756.030
Belgium             40910.960
Sweden              36585.410
Name: TotalSales, dtype: float64

In [292]:
#Most returned products

returns = df[df['Quantity'] < 0].groupby('Description')['Quantity'].sum().head(10)
print(returns)

Description
10 COLOUR SPACEBOY PEN                -172
12 COLOURED PARTY BALLOONS             -20
12 EGG HOUSE PAINTED WOOD               -1
12 IVORY ROSE PEG PLACE SETTINGS        -1
12 MESSAGE CARDS WITH ENVELOPES         -1
12 PENCIL SMALL TUBE WOODLAND           -4
12 PENCILS SMALL TUBE RED RETROSPOT   -120
12 PENCILS SMALL TUBE SKULL           -566
12 PENCILS TALL TUBE POSY              -24
12 PENCILS TALL TUBE RED RETROSPOT      -7
Name: Quantity, dtype: int64

---

In [293]:
    # Here i will use AI to categorize products based on keywords in their descriptions.
    # This will help in analyzing sales by product category later.
    # Build a keyword > category map
    # --- keyword-to-category map ---------------------------------
kw_cat = {
    "CANDLE|LIGHT|LANTERN": "Home-Light",
    "CAKE|COOKIE|BAKE": "Baking",
    "CARD|WRAP|GIFT|BAG|BOX": "Gift-Wrap",
    "MUG|CUP|TEA|COFFEE": "Drinkware",
    "PEN|PENCIL|NOTEBOOK|STICKER": "Stationery",
    "TOY|DOLL|GAME|PUZZLE": "Toys",
    "HEART|LOVE|WEDDING": "Romance",
    "CHRISTMAS|XMAS|SANTA": "Christmas",
    "SKULL|HALLOWEEN": "Halloween",
    "GARDEN|PLANT|POT": "Garden",
    "FABRIC|CUSHION|APRON|TOWEL": "Textile",
    "METAL SIGN|PLAQUE": "Signs",
    "BOTTLE|WATER|HOTTIE": "Bottles",
    "HOOK|HANGER|DOOR": "Hardware",
    "BAG|SHOPPER|LUNCH BAG|JUMBO BAG": "Bags-Storage",
    "SET|PACK OF|PACK|ASSORTED": "Multi-packs",
    "VINTAGE|RETRO|ANTIQUE": "Vintage-Retro",
    "DECORATION|DECOR|ORNAMENT|GARLAND|BUNTING": "Decorative",
    "KITCHEN|OVEN GLOVE|TEA TOWEL|APRON|CAKE STAND": "Kitchen",
    "BATH|SPONGE|FLANNEL|TOWEL": "Bathroom",
    "SEWING|THREAD|NEEDLE|PIN|KIT": "Sewing-Craft",
    "INCENSE|OIL BURNER|SCENTED|LAVENDER": "Aromatherapy",
    "UMBRELLA|RAIN|PONCHO": "Rain-Accessories",
    "DOORMAT|DOOR MAT": "Doormats",
    "FIRST AID|PLASTER|BANDAGE": "First-Aid",
    "STORAGE|BOX|TIN|JAR|ORGANISER": "Storage",
    "KEYRING|KEY RING": "Keyrings",
    "JEWELLERY|NECKLACE|BRACELET|EARRING|RING": "Jewellery",
    "MAGNET|FRIDGE MAGNET": "Magnets",
    "WRAP|GIFT WRAP|RIBBON|BOW|TISSUE": "Wrapping",
}

# ---------- categorizer function ----------
import re

def categorize(desc: str) -> str:
    if pd.isna(desc):
        return "Unknown"
    desc_up = desc.upper()
    for pattern, cat in kw_cat.items():
        if re.search(pattern, desc_up):
            return cat
    return "Other"

# ---------- apply ----------
df["ProductCategory"] = df["Description"].apply(categorize)

# sanity check
print("Category counts:\n", df["ProductCategory"].value_counts())

Category counts:
 ProductCategory
Gift-Wrap           105496
Other                77533
Romance              39975
Home-Light           37551
Multi-packs          35694
Baking               33198
Garden               31206
Drinkware            29066
Christmas            15757
Stationery           15104
Sewing-Craft         13225
Hardware             12607
Signs                11344
Decorative           10745
Vintage-Retro        10480
Bottles               9591
Toys                  7820
Wrapping              6422
Textile               5910
Storage               5679
Jewellery             3726
Halloween             3526
First-Aid             3118
Kitchen               2773
Bags-Storage          2103
Bathroom              1836
Rain-Accessories      1050
Aromatherapy           892
Keyrings               695
Magnets                562
Name: count, dtype: int64

In [306]:
top_expensive_products = (
    df.groupby(['StockCode', 'Description'])['UnitPrice']
      .max()   # take the maximum unit price per product
      .reset_index()
      .sort_values(by='UnitPrice', ascending=False)
      .head(10)
)

print("\n=== Top 10 Most Expensive Products (by UnitPrice) ===")
print(top_expensive_products)

=== Top 10 Most Expensive Products (by UnitPrice) ===
         StockCode                     Description  UnitPrice
4778             M                          Manual   38970.00
4759     AMAZONFEE                      AMAZON FEE   17836.46
4760             B                 Adjust bad debt   11062.06
4780          POST                         POSTAGE    8142.75
4777           DOT                  DOTCOM POSTAGE    4505.17
4764             D                        Discount    1867.86
4763          CRUK                 CRUK Commission    1100.44
4761  BANK CHARGES                    Bank Charges    1050.15
1643         22502  PICNIC BASKET WICKER 60 PIECES     649.50
4781             S                         SAMPLES     570.00

In [294]:
# Value count listed by percentages
valcount = df['ProductCategory'].value_counts(normalize=True).mul(100).round(2)
print(valcount)

ProductCategory
Gift-Wrap           19.73
Other               14.50
Romance              7.48
Home-Light           7.02
Multi-packs          6.68
Baking               6.21
Garden               5.84
Drinkware            5.44
Christmas            2.95
Stationery           2.82
Sewing-Craft         2.47
Hardware             2.36
Signs                2.12
Decorative           2.01
Vintage-Retro        1.96
Bottles              1.79
Toys                 1.46
Wrapping             1.20
Textile              1.11
Storage              1.06
Jewellery            0.70
Halloween            0.66
First-Aid            0.58
Kitchen              0.52
Bags-Storage         0.39
Bathroom             0.34
Rain-Accessories     0.20
Aromatherapy         0.17
Keyrings             0.13
Magnets              0.11
Name: proportion, dtype: float64

In [295]:
# Displaying what items are in the "Other" Category

other_mask = df['ProductCategory'].eq('Other')
print(other_mask.sum(), "rows still in Other")
# Top 20 descriptions that are uncategorised
print(df.loc[other_mask, 'Description'].value_counts().head(20))

77533 rows still in Other
Description
POSTAGE                               1249
WOODEN PICTURE FRAME WHITE FINISH     1123
POPCORN HOLDER                         860
HOME BUILDING BLOCK WORD               791
GUMBALL COAT RACK                      717
DOTCOM POSTAGE                         709
WOOD BLACK BOARD ANT WHITE FINISH      696
HAND OVER THE CHOCOLATE   SIGN         682
HAND WARMER OWL DESIGN                 677
SMALL POPCORN HOLDER                   607
WOOD 2 DRAWER CABINET WHITE FINISH     588
HAND WARMER SCOTTY DOG DESIGN          567
Manual                                 567
HAND WARMER BIRD DESIGN                567
FELTCRAFT 6 FLOWER FRIENDS             561
EDWARDIAN PARASOL NATURAL              549
WORLD WAR 2 GLIDERS ASSTD DESIGNS      539
ENAMEL FLOWER JUG CREAM                525
PHOTO FRAME CORNICE                    524
NATURAL SLATE CHALKBOARD LARGE         509
Name: count, dtype: int64

In [296]:
df.head()

print(df.head())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

          InvoiceDate  UnitPrice  CustomerID         Country  TotalSales  \
0 2010-12-01 08:26:00       2.55       17850  United Kingdom       15.30
1 2010-12-01 08:26:00       3.39       17850  United Kingdom       20.34
2 2010-12-01 08:26:00       2.75       17850  United Kingdom       22.00
3 2010-12-01 08:26:00       3.39       17850  United Kingdom       20.34
4 2010-12-01 08:26:00       3.39       17850  United Kingdom       20.34

  ProductCategory
0      Home-Light
1      Home-Light
2       Drinkware
3         Bottles
4         Romance

In [297]:
country_sales = df.groupby('Country')['TotalSales'].sum().sort_values(ascending=False)
print(country_sales.head(10))

Country
United Kingdom    8167128.184
Netherlands        284661.540
Ireland            262993.380
Germany            221509.470
France             197317.110
Australia          137009.770
Switzerland         56363.050
Spain               54756.030
Belgium             40910.960
Sweden              36585.410
Name: TotalSales, dtype: float64

In [298]:
top_products_qty = df.groupby('Description')['Quantity'].sum().sort_values(ascending=False).head(10)

print("\n=== Top 10 Products by Quantity Sold ===")
print(top_products_qty)

=== Top 10 Products by Quantity Sold ===
Description
WORLD WAR 2 GLIDERS ASSTD DESIGNS     53655
JUMBO BAG RED RETROSPOT               47260
POPCORN HOLDER                        36319
ASSORTED COLOUR BIRD ORNAMENT         36260
PACK OF 72 RETROSPOT CAKE CASES       35979
WHITE HANGING HEART T-LIGHT HOLDER    35298
RABBIT NIGHT LIGHT                    30618
MINI PAINT SET VINTAGE                26437
PACK OF 12 LONDON TISSUES             26299
PACK OF 60 PINK PAISLEY CAKE CASES    24693
Name: Quantity, dtype: int64

In [299]:
top_products_qty = (
    df.groupby(['StockCode', 'Description'])['Quantity']
      .sum()
      .sort_values(ascending=False)
      .head(10)
)

print("\n=== Top 10 Products by Quantity Sold (with StockCode) ===")
print(top_products_qty)

=== Top 10 Products by Quantity Sold (with StockCode) ===
StockCode  Description
84077      WORLD WAR 2 GLIDERS ASSTD DESIGNS     53655
85099B     JUMBO BAG RED RETROSPOT               47260
22197      POPCORN HOLDER                        36319
84879      ASSORTED COLOUR BIRD ORNAMENT         36260
21212      PACK OF 72 RETROSPOT CAKE CASES       35979
85123A     WHITE HANGING HEART T-LIGHT HOLDER    35006
23084      RABBIT NIGHT LIGHT                    30618
22492      MINI PAINT SET VINTAGE                26437
22616      PACK OF 12 LONDON TISSUES             26299
21977      PACK OF 60 PINK PAISLEY CAKE CASES    24693
Name: Quantity, dtype: int64

In [300]:
df['DayOfWeek'] = df['InvoiceDate'].dt.day_name()
df['Hour'] = df['InvoiceDate'].dt.hour

sales_by_day = df.groupby('DayOfWeek')['TotalSales'].sum().sort_values(ascending=False)
sales_by_hour = df.groupby('Hour')['TotalSales'].sum()

print("\n=== Sales by Day of Week ===")
print(sales_by_day)

print("\n=== Sales by Hour of Day ===")
print(sales_by_hour)

=== Sales by Day of Week ===
DayOfWeek
Thursday     2106396.810
Tuesday      1964659.531
Wednesday    1729755.230
Monday       1583834.391
Friday       1537055.891
Sunday        798272.411
Name: TotalSales, dtype: float64

=== Sales by Hour of Day ===
Hour
6        -497.350
7       31009.320
8      281723.020
9      766280.621
10    1325875.591
11    1146457.490
12    1356923.770
13    1172205.450
14    1090776.191
15    1185780.950
16     726454.610
17     434834.541
18     140365.040
19      45864.930
20      15920.090
Name: TotalSales, dtype: float64

In [301]:
#Hightest returned products

returns = df[df['Quantity'] < 0].groupby('Description')['Quantity'].sum().sort_values().head(10)

print("\n=== Top 10 Returned Products (by Quantity) ===")
print(returns)

=== Top 10 Returned Products (by Quantity) ===
Description
PAPER CRAFT , LITTLE BIRDIE           -80995
MEDIUM CERAMIC TOP STORAGE JAR        -74494
printing smudges/thrown away          -19200
Unsaleable, destroyed.                -15644
check                                 -13247
?                                      -9496
ROTATING SILVER ANGELS T-LIGHT HLDR    -9376
Printing smudges/thrown away           -9058
Damaged                                -7540
throw away                             -5368
Name: Quantity, dtype: int64

In [302]:
# Count how many unique invoices each customer has
orders_by_user = df.groupby('CustomerID')['InvoiceNo'].nunique().sort_values(ascending=False)

print("\n=== Top 10 Customers by Number of Orders ===")
print(orders_by_user.head(10))


orders_by_country = df.groupby('Country')['InvoiceNo'].nunique().sort_values(ascending=False)

print("\n=== Orders by Country (Top 10) ===")
print(orders_by_country.head(10))


orders_by_product = df.groupby('Description')['InvoiceNo'].nunique().sort_values(ascending=False)

print("\n=== Top 10 Products by Number of Orders ===")
print(orders_by_product.head(10))


print("\nTotal unique customers:", df['CustomerID'].nunique())
print("Total unique countries:", df['Country'].nunique())
print("Total unique products:", df['Description'].nunique())
print("Total unique orders:", df['InvoiceNo'].nunique())

=== Top 10 Customers by Number of Orders ===
CustomerID
15287    2254
14911     248
12748     224
17841     169
14606     128
15311     118
13089     118
12971      89
14527      86
13408      81
Name: InvoiceNo, dtype: int64

=== Orders by Country (Top 10) ===
Country
United Kingdom    22040
Germany             603
France              461
Ireland             360
Belgium             119
Spain               105
Netherlands         101
Switzerland          74
Portugal             71
Australia            69
Name: InvoiceNo, dtype: int64

=== Top 10 Products by Number of Orders ===
Description
WHITE HANGING HEART T-LIGHT HOLDER    2302
REGENCY CAKESTAND 3 TIER              2167
JUMBO BAG RED RETROSPOT               2135
PARTY BUNTING                         1706
LUNCH BAG RED RETROSPOT               1605
ASSORTED COLOUR BIRD ORNAMENT         1464
SET OF 3 CAKE TINS PANTRY DESIGN      1457
PACK OF 72 RETROSPOT CAKE CASES       1332
LUNCH BAG  BLACK SKULL.               1294
NATURAL SLATE HEART CHALKBOARD        1265
Name: InvoiceNo, dtype: int64

Total unique customers: 4367
Total unique countries: 36
Total unique products: 4211
Total unique orders: 24428

In [312]:
# The following blocks of code will help support hypotheses 2 in the README.md file.
# AI helped generate this code to support the hypothesis.


# (A) Use only positive lines for Monetary (exclude returns)
base = df[df['Quantity'] > 0].copy()

# (B) Drop Guest customers if you used -1 as placeholder
base = base[base['CustomerID'] != -1].copy()

# 2) Compute RFM
latest = base['InvoiceDate'].max()
rfm = base.groupby('CustomerID').agg(
    Recency=('InvoiceDate', lambda s: (latest - s.max()).days),
    Frequency=('InvoiceNo', 'nunique'),
    Monetary=('TotalSales', 'sum')
).reset_index()

# 3) Clean edge cases: drop zero/negative or NaNs that break binning
rfm = rfm.replace([np.inf, -np.inf], np.nan).dropna(subset=['Recency','Frequency','Monetary'])
rfm = rfm[rfm['Frequency'] > 0]              # must have at least 1 order
rfm = rfm[rfm['Monetary'] >= 0]              # keep non-negative spend

# 4) Rank-based quartiles (avoids "bin edges must be unique")
#    - For Recency: lower is better â†’ invert labels (4 best to 1 worst)
rfm['R_score'] = pd.qcut(rfm['Recency'].rank(method='first'), 4, labels=[4,3,2,1]).astype(int)
rfm['F_score'] = pd.qcut(rfm['Frequency'].rank(method='first'), 4, labels=[1,2,3,4]).astype(int)
rfm['M_score'] = pd.qcut(rfm['Monetary'].rank(method='first'), 4, labels=[1,2,3,4]).astype(int)

rfm['RFM_Score'] = rfm[['R_score','F_score','M_score']].sum(axis=1)

print("RFM head:")
print(rfm.head())

# 5) Define Champions (top tier)
champions = rfm[rfm['RFM_Score'] >= 10].copy()  # 10â€“12
print("Champions count:", champions.shape[0])

# 6) Revenue share check
total_revenue = base['TotalSales'].sum()
champions_revenue = champions['Monetary'].sum()
share = champions_revenue / total_revenue * 100
print(f"Champions contribute {share:.2f}% of total revenue")

RFM head:
   CustomerID  Recency  Frequency  Monetary  R_score  F_score  M_score  \
0       12346      325          1  77183.60        1        1        4
1       12347        1          7   4310.00        4        4        4
2       12348       74          4   1797.24        2        3        4
3       12349       18          1   1757.55        3        1        4
4       12350      309          1    334.40        1        1        2

   RFM_Score
0          6
1         12
2          9
3          8
4          4
Champions count: 1260
Champions contribute 80.53% of total revenue

In [ ]:
# As we can see above even though champions equate to only a small fraction of customers they contribute to over 80% of total revenue.

In [ ]:
# Here we had issues with saving the cleaned dataset as the file was too large for GitHub.
# To solve this we will save the cleaned dataset as a CSV inside a ZIP archive.

from pathlib import Path

# Define your cleaned data folder
CLEAN_DIR = Path(r"C:\Users\Nine\OneDrive\Documents\VS Code Projects\online-retail-transactions-analysis\DataSet\Cleaned")
CLEAN_DIR.mkdir(parents=True, exist_ok=True)

# Save as CSV inside a ZIP archive
zip_path = CLEAN_DIR / "fact_sales_clean.zip"
df.to_csv(zip_path, index=False, compression='zip')

print(f"âœ… Cleaned dataset saved as ZIP at: {zip_path}")

âœ… Cleaned dataset saved as ZIP at: C:\Users\Nine\OneDrive\Documents\VS Code Projects\online-retail-transactions-analysis\DataSet\Cleaned\fact_sales_clean.zip

In [304]:
import os

size_mb = os.path.getsize(zip_path) / (1024*1024)
print(f"ZIP file size: {size_mb:.2f} MB")

ZIP file size: 9.67 MB

In [305]:
# The ZIP file is now under 100MB and can be uploaded to GitHub without issues.
# In future, I will not extract the Kaggle dataset but will keep it in its original ZIP format to avoid this issue.

---